.lp-choose{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}
.btn-text{
  position:absolute;
  top:99px;
  left:0px;
  width:250px;
  text-align: center;
}
.btn-choice{
  position:relative;
}
.btn-choice{
  display:grid;
  background-color: inherit;
  border-radius: 2px;
  margin:0px;
  padding:0px;
  color:black;
  font-size:26px;
  border:2px solid white;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition-property: border;
  transition-duration:0.3s;
  transition-timing-function: linear;
}
.btn-choice:hover{
  border: 2px solid var(--primary);
}
img{
  width:100%;
  opacity:0.50;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

p, h4{
  padding-left:10px;
}
p{
  font-size: 20px;
}
