.lp-choose{
  width:800px;
}
.btn-text{
  position:absolute;
  color:black;
  font-size: 26px;
  top:99px;
  left:0px;
  width:250px;
  text-align: center;
}
.btn-choice{
  position:relative;
  width:250px;
  padding:0px;
  margin-right:5px;
}
img{
  opacity:0.60;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
p, h4{
  padding-left:10px;
}
p{
  font-size: 20px;
}
.center{
  text-align: center;
}
