<div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownHood" ngbDropdownToggle
    [ngbPopover]="popBContent" [openDelay]="666"
    triggers="mouseenter:mouseleave" [popoverTitle]="popBTitle">
    Neighborhood: {{this.centralService._hood | titlecase}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="force-scroll">
      <div *ngIf="neighborhood.length > 0">
      <button *ngFor= "let hood of neighborhood"
              (click)="onSelect(hood)"
              [class.selected]="hood === selectedHood"
              class="hoodDropdownButton"
                ngbDropdownItem>
                {{ hood | titlecase }}
      </button>
      </div>
      <div *ngIf="neighborhood.length == 0" class="info">Select a city to see available neighborhoods</div>
    </div>
    <ng-template #popBContent>
      You can narrow to a pre-determined neighborhood here
    </ng-template>
    <ng-template #popBTitle>
      <img src='../assets/icons-50px/png/icons8-circled-b-50.png' height='20' width='20'>
      Neighborhood Selection
    </ng-template>
</div>
