<header>

  <mat-toolbar color="primary">
    <span>Terra Mapping &nbsp;&nbsp;&nbsp;&nbsp; </span>
    <mat-icon class="search">search</mat-icon>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text" matInput
        placeholder="Place"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        #search
        [formAction]="searchControl">
      </mat-form-field>
    </form>
    </mat-toolbar>
</header>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <span id="header-city"><img src="../assets/icons-24px/png/029-thin-arrowheads-pointing-down.png" height="16" width="16">&nbsp;City: {{this.centralService.getCity() | titlecase}}</span>
    <span id='header-Hood'><img src="../assets/icons-24px/png/029-thin-arrowheads-pointing-down.png" height="16" width="16"> Neighborhood: {{this.centralService.getHood() | titlecase}}</span>
  </mat-expansion-panel-header>
  <app-control-panel>Loading...</app-control-panel>
</mat-expansion-panel>
