<mat-tab-group animationDuration="2000ms">
  <mat-tab label="View1">
    <ng-template matTabContent>
      <app-view1-data-table id='t1'></app-view1-data-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="View2" (click)="view2Data()">
    <ng-template matTabContent>
      <app-view2-data-table id='t1'></app-view2-data-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="View3">
    <ng-template matTabContent>
      <app-view3-data-table id='t1'></app-view3-data-table>
    </ng-template>
  </mat-tab>
  <mat-tab label="View4">
    <ng-template matTabContent>
      <app-view4-data-table id='t1'></app-view4-data-table>
    </ng-template>
  </mat-tab>
</mat-tab-group>
