<div class="modal-header">
    <h4 class="modal-title">Explore the places that matter to you.</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <p>Dig into the patterns that shape neighborhoods, cities, and regions.<br>Choose below to start your exploration.</p>
  <div class="lp-choose">
    <button class="btn-choice"><img height="250" width="250" src="../assets/images/property-markets.jpg">
      <span class="btn-text first">Property Market</span></button>
    <button class="btn-choice"><img height="250" width="250" src="../assets/images/labor-markets.jpg">
      <span class="btn-text second">Labor Market</span></button>
    <button class="btn-choice"><img height="250" width="250" src="../assets/images/search-an-address.jpg">
      <span class="btn-text third">Address Search</span></button>
  </div>
</div>
