<div class="modal-header">
    <h4 class="modal-title">Explore the places that matter to you.</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <p>Dig into the patterns that shape neighborhoods, cities, and regions. Choose
      below to start your exploration.</p>
  <div class="lp-choose">
    <button class="btn-choice"><img>Details about real property market</button>
    <button class="btn-choice"><img>Details about labor market</button>
    <button class="btn-choice"><img>Search an address</button>
  </div>
</div>
