div.table-view {
  width: inherit;
  height: inherit;
  border: 1px solid black;
  flex: auto
}
.mat-table-line{
  border-right: 1px solid black;
  align-self: stretch;
  text-align: center;
}
table {
  width: 100%;
  flex: auto
}
.mat-elevation-z8{
  table-layout: auto
}
