<div class="chart-container">
  <canvas #chartA>{{ chart }}</canvas>
  <button id="view1Modal"(click)="openTable()">
    <img src='../assets/bootstrap-png/spreadsheet-8x.png' alt="table popout" height='24' width='24'>
  </button>
</div>
<div class="toggleDiv">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="acres"> Acres
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="value"> Value
    </label>
  </div>
</div>
