#chartA{
}
.chart-container{
  position:relative;
  float:left;
  height:75%;
  width:30vw;
  max-width:30vw;

}
.chart-radio{
  display:block;
}
mat-radio-button{
  padding-left:10px;
  padding-right:10px;
  margin-top:10px;
}
