.chart-container{
  padding:15px;
  position:relative !important;
  height:76vh;
  min-height:76vh;
}
mat-form-field{
  margin-top:5px;
  background-color: #ffffff;
  padding-top:5px;
  border-radius: 4px;
  padding-left:10px;padding-right:10px;
  flex-grow:1;
  max-width:40%;
}
#charts-header{
  display:flex;
  width:100%;
  align-items: baseline;
  justify-content: space-evenly;
  background-color: #91bad6;
  padding-bottom:5px;
}
