<div class="control-panel-div">
  <div class="cities">
    <li *ngFor= "let city of cities"
    (click)="onSelect(city)"
    [class.selected] = "city === selectedCity">
      <a routerLink="/showhood/{{city}}" >
        {{ city | titlecase }}
      </a>
    </li>
  </div>
  <app-neighborhood></app-neighborhood>
  <div class="options">
    <h3>Land Use</h3>
      <mat-checkbox class="" [(ngModel)]="Commercial">Commercial</mat-checkbox>
      <mat-checkbox class="" [(ngModel)]="Government">Government</mat-checkbox><br>
      <mat-checkbox class="" [(ngModel)]="Industrial">Industrial</mat-checkbox>
      <mat-checkbox class="" [(ngModel)]="Institutional">Institutional</mat-checkbox><br>
      <mat-checkbox class="" [(ngModel)]="Mixed">Mixed</mat-checkbox>
      <mat-checkbox class="" [(ngModel)]="Residential">Residential</mat-checkbox><br>
      <mat-checkbox class="" [(ngModel)]="Utility">Utility</mat-checkbox>
      <mat-checkbox class="" [(ngModel)]="Null">Null</mat-checkbox><br>
      This Only works for Tables Right Now!
  </div>
</div>
