<div class="control-panel-div">
  <div class="cities">
    <li *ngFor= "let city of cities"
    (click)="onSelect(city)"
    [class.selected] = "city === selectedCity">
      <a routerLink="/showhood/{{city}}" >
        {{ city | titlecase }}
      </a>
    </li>
  </div>
  <app-neighborhood></app-neighborhood>
  <button id="base" (click)="this.centralService.setAreas([])">Base Case</button>
  <button id="half1" (click)="this.centralService.setAreas(['chart'])">[Map,Table]</button>
  <button id="half2" (click)="this.centralService.setAreas(['map'])">[Chart,Table]</button>
  <button id="half3" (click)="this.centralService.setAreas(['table'])">[Chart,Map]</button>
  <button id="full1" (click)="this.centralService.setAreas(['chart','map'])">[Table]</button>
  <button id="full2" (click)="this.centralService.setAreas(['chart','table'])">[Map]</button>
  <button id="full3" (click)="this.centralService.setAreas(['table','map'])">[Chart]</button>
</div>
