<div class="control-panel-div">
  <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary"
      id="dropdownCity" ngbDropdownToggle
      [ngbPopover]="popAContent"
      triggers="mouseenter:mouseleave" [popoverTitle]="popATitle">
      City: {{this.centralService._city | titlecase}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="force-scroll">
        <button *ngFor="let city of cities"
                  (click)="onSelect(city)"
                  [class.selected] = "city === selectedCity"
                  class="cityDropdownButton"
                  ngbDropdownItem>
                  {{ city | titlecase }}
        </button>
      </div>
  </div>
  <app-neighborhood></app-neighborhood>
  <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownLandUse" ngbDropdownToggle
      [ngbPopover]="popCContent"
      triggers="mouseenter:mouseleave" [popoverTitle]="popCTitle">
      Land Use: {{this.centralService._landUse | titlecase}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let landUse of LANDUSE"
                  (click)="selectLandUse(landUse)"
                  [class.selected] = "landUse === selectedCity"
                  class="landUseDropdownButton"
                  ngbDropdownItem>
                  {{ landUse | titlecase }}
        </button>
      </div>
  </div>
    <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"
        [ngbPopover]="popDContent"
        triggers="mouseenter:mouseleave"
        [popoverTitle]="popDTitle">
        Filters
    </button>
  <div id="collapseFilters" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        <div class="acres-container">
          <p>Acres <input type="number" [(ngModel)]="minValue"><input type="number" [(ngModel)]="maxValue"></p>
          <div class="custom-slider">
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
          </div>
        </div>
        <div class="value-container">
          <p>Value <input type="number" [(ngModel)]="minValue"><input type="number" [(ngModel)]="maxValue"></p>
          <div class="custom-slider">
            <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-primary goButton"
          (click)='updateAllData()'
          [ngbPopover]="popEContent"
          triggers="mouseenter:mouseleave" [popoverTitle]="popETitle">
          GO
  </button>
  <button type="button" class="btn btn-outline-primary searchButton"
  ngbPopover="Click here to search via address" opoverClass="my-custom-class"
  triggers="mouseenter:mouseleave" popoverTitle="Search by Address">
    <img style="padding-bottom:1px;"src="../assets/icons-24px/png/025-search.png" height="20" width="20">
  </button>
<!-- Below is content for tooltips -->
<!-- City popup -->
<ng-template #popAContent>
  You can select a city here, or draw your selection in the map below using the
  <img src='../assets/icons-24px/png/043-lasso.png' height='20' width='20'> icon or
  <img src='../assets/icons-24px/png/icons8-hand-cursor-24.png' height='20' width='20'> icon
 </ng-template>
<ng-template #popATitle>
   <img src='../assets/icons-50px/png/icons8-circled-a-50.png' height='20' width='20'>
   City Selection
</ng-template>
<!-- land use popup -->
<ng-template #popCContent>
  You can select a specific real property market or submarket here
</ng-template>
<ng-template #popCTitle>
  <img src='../assets/icons-50px/png/icons8-circled-c-50.png' height='20' width='20'>
  Land Use Selection
</ng-template>
<!-- filter popup -->
<ng-template #popDContent>
  Further filters can be found here
</ng-template>
<ng-template #popDTitle>
  <img src='../assets/icons-50px/png/icons8-circled-d-50.png' height='20' width='20'>
  Filters
</ng-template>
<!-- search popup -->
<ng-template #popEContent>
  Click here to update results with new seearch criteria
</ng-template>
<ng-template #popETitle>
  <img src='../assets/icons-50px/png/icons8-circled-e-50.png' height='20' width='20'>
  Search
</ng-template>
<!-- End popup content -->
</div>
