body{
    position: absolute;
    height: 100%;
}
div.header {
    width: 100%;
}
div.container {
    display: table;
    width: 100%;
    justify-content: space-between;
}
.data-table {
    padding-left: 10%;
}
/* div.table{
margin: 30px;
} */