body{
    position: absolute;
    height: 100%;
    width:100%;
}

.data-table {
    padding-left: 10%;
}
.hidden{
    display:none;
}

.show{
    display:block;
}
#modal-container {
    position: fixed;
    top: 15%;
    left: 50%;
    width: 50%;
    max-height:70%;
    background: white;
    padding:20px;
    margin-left: -25%;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
    overflow:hidden;
}

#overlay {
    position: absolute;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}
