<div class="header">
    <app-header></app-header>
</div>

<!-- <div class="container"
  fxLayout fxLayout.gt="small" fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
  <app-control-panel
    class="item item-1 panel" fxFlexOrder="1"></app-control-panel>
  <app-map
    class="item item-1" fxFlexOrder="2"></app-map>
  <app-data-table class="table"
    class="item item-1" fxFlexOrder="3"></app-data-table>
</div>
<div class="container"
    fxLayout fxLayout.gt="small" fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">
  <app-view1-data-chart class="chart"
  class="item item-2" fxFlexOrder="-1">
  </app-view1-data-chart>
</div> -->

<!-- <div class="container"
  fxLayout fxLayout.gt="small" fxLayoutAlign="left" fxLayoutGap="20px" fxLayoutGap.xs="0">   -->
<div layout="row">
  <app-control-panel></app-control-panel>
</div>
<div layout="column">
  <div layout="row">
      <!-- <app-map ></app-map> -->
      <app-leaflet-map></app-leaflet-map>
  </div>
  <div id="charts" layout="row">
    <app-charts></app-charts>
    <!-- <app-data-table ></app-data-table> -->
  </div>
  <!-- <app-view1-data-chart></app-view1-data-chart> -->
</div>
<!-- </div> -->
<!-- <div class="container">
    <div class="row">
      <app-control-panel class="panel"></app-control-panel>
     // commented app-map for trial
      <app-map></app-map>
     // deal with message passing here for permission to render component: app-control-panel -> app-data-table
     <app-data-table class="data-table"></app-data-table>
    </div>
  </div> -->
