ng2-smart-table{
  text-align: right;
  background-color:#ffffff !important;
}
.hidden{
  display:none;
}
.show{
  display:block;

}
.toggleDiv{
  display:flex;
  justify-content: center;
}
h4{
  width:100%;
  text-align: center;
  padding-left:33px;
}
/* This is super important, don't remove */
:host{
  display:block;
  background-color: #fff;
}
/* -----end------ */
