<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="view1TableData"> -->

    <!-- Cat Column -->
    <!-- <ng-container matColumnDef="cat">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element._id.cat}} </td>
    </ng-container> -->

    <!-- AssessedValue Column -->
    <!-- <ng-container matColumnDef="AssessedValue">
      <th mat-header-cell *matHeaderCellDef> Assessed Value </th>
      <td mat-cell *matCellDef="let element"> {{element.AssessedValue}} </td>
    </ng-container> -->

    <!-- No_parcels Column -->
    <!-- <ng-container matColumnDef="No_parcels">
      <th mat-header-cell *matHeaderCellDef> Number of Parcels </th>
      <td mat-cell *matCellDef="let element"> {{element.No_parcels}} </td>
    </ng-container> -->

    <!-- Percentage of Land Column -->
    <!-- <ng-container matColumnDef="percOfLand">
      <th mat-header-cell *matHeaderCellDef> Percentage of Land </th>
      <td mat-cell *matCellDef="let element"> {{element.percOfLand}} </td>
    </ng-container> -->

    <!-- Percentage of Assessed Value Column -->
    <!-- <ng-container matColumnDef="percOfAssessedVal">
      <th mat-header-cell *matHeaderCellDef> Percentage of Assessed Value </th>
      <td mat-cell *matCellDef="let element"> {{element.percOfAssessedVal}} </td>
    </ng-container> -->
<!--
  </table>
</div> -->
