<div class="modal-header">
  <h4 class="modal-title">Table Views</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  <!-- <button mat-raised-button id="modal-button" (click)="initTableModal()">
    <img src="../assets/icons-24px/png/037-switch-to-full-screen-button.png"
      height="24" width="24" title="Display Table-Modal">
  </button> -->
</div>
<div class="modal-body">
  <div class="toggleDiv">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="lu"> {{this.displayLandUse}}
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="cr4"> CR4
      </label>
    </div>
  </div>
  <div *ngIf="this.model == 'lu'">
    <!-- https://www.tjvantoll.com/2013/03/14/better-ways-of-comparing-a-javascript-string-to-multiple-values/ -->
    <div *ngIf="currentLandUse == 'All'">
      <ng2-smart-table [ngClass]="table1" [settings]="this.view1settings" [source]="this.view1Data"></ng2-smart-table>
    </div>
    <div *ngIf="currentLandUse == 'Residential'">
      <ng2-smart-table [ngClass]="table2" [settings]="this.view2settings" [source]="this.view2Data"></ng2-smart-table>
    </div>
    <div *ngIf="currentLandUse == 'Commercial'">
      <ng2-smart-table [ngClass]="table3" [settings]="this.view3settings" [source]="this.view3Data"></ng2-smart-table>
    </div>
    <div *ngIf="currentLandUse == 'Industrial'">
      <ng2-smart-table [ngClass]="table4" [settings]="this.view4settings" [source]="this.view4Data"></ng2-smart-table>
    </div>
  </div>
  <!-- <ng2-smart-table [ngClass]="table3" [settings]="this.view3settings" [source] = "this.view3Data"></ng2-smart-table>
  <ng2-smart-table [ngClass]="table4" [settings]="this.view4settings" [source] = "this.view4Data"></ng2-smart-table>
  <ng2-smart-table [ngClass]="table5" [settings]="this.view5settings" [source] = "this.concentrationData"></ng2-smart-table> -->
  <div *ngIf="this.model == 'cr4'">
    <div *ngIf="currentLandUse == 'All'">
      <ng2-smart-table [ngClass]="table6" [settings]="this.view1CR4Settings" [source] = "this.landUseConcentrationData"></ng2-smart-table>
    </div>
    <div *ngIf="currentLandUse == 'Residential'">
      <ng2-smart-table [ngClass]="table6" [settings]="this.view2CR4Settings" [source] = "this.view2Data"></ng2-smart-table>
    </div>
    <div *ngIf="currentLandUse == 'Commercial'">
      <ng2-smart-table [ngClass]="table3" [settings]="this.view3CR4Settings" [source]="this.view3Data"></ng2-smart-table>
    </div>
    <div *ngIf="currentLandUse == 'Industrial'">
      <ng2-smart-table [ngClass]="table4" [settings]="this.view4CR4Settings" [source]="this.view4Data"></ng2-smart-table>
    </div>
  </div>
</div>
