ng2-smart-table{
  text-align: right;
  background-color:#ffffff !important;
}
.hidden{
  display:none;
}
.show{
  display:block;

}
h4{
  text-align: center;
  width:100%;
}
/* This is super important, don't remove */
:host{
  display:block;
  background-color: #fff;
}
/* -----end------ */
