<div id="map"></div>
<mat-radio-group
  class="map-radio-group"
  [(ngModel)]="this.currentSiteCat"
  (ngModelChange)="this.centralService.currentSiteCat.next($event)">
  <mat-radio-button
    *ngFor="let sitecat of landuse"
    [ngStyle]="{'background-color': getColors(sitecat), 'color' : sitecat === null ? 'whitesmoke':' black'}"
    [value]="sitecat">
    {{sitecat}}
    <span *ngIf="sitecat === null" >Null or Vacant</span>
  </mat-radio-button>
</mat-radio-group>
<mat-button-toggle-group multiple class="map-controls">
  <mat-button-toggle title="Toggle satellite" id="sattelite-button" (click)='this.setBaseLayer()'><img src="../assets/icons-24px/png/028-planet-earth.png" height="24" width="24" title="Toggle satellite view"></mat-button-toggle>
  <mat-button-toggle-group #tools>
    <mat-button-toggle title="Click on parcels" #sele (click)="this.toggleTool('select')" [checked]="this.selectionToggle ? true : false" ><img src="../assets/icons-24px/png/icons8-hand-cursor-24.png" height="24" width="24"></mat-button-toggle><br>
    <mat-button-toggle title="Circle parcels" #lass (click)="this.toggleTool('lasso')" [checked]="this.lassoToggle ? true : false" ><img src="../assets/icons-24px/png/043-lasso.png" height="24" width="24" ></mat-button-toggle><br>
  </mat-button-toggle-group>
  <button id="getLasso" mat-stroked-button color="primary" (click)='this.getLassoPlots()' height="24" width="24" title="Calculate values based on Selection Tool" >Go</button><br>
  <button id="destroyLasso" mat-stroked-button color="warn" (click)='this.removeLassoPolygons()' title="Remove and reset map"><img src="../assets/icons-24px/png/008-trash.png" height="24" width="24"></button><br>
</mat-button-toggle-group>

<!-- <div id='map-legend'>
  <div class="Commercial legend-block">Commercial</div>
  <div class="Government legend-block">Government</div>
  <div class="Industrial legend-block">Industrial</div>
  <div class="Institutional legend-block">Institutional</div>
  <div class="Mixed legend-block">Mixed</div>
  <div class="Null legend-block">Null</div>
  <div class="Residential legend-block">Residential</div>
  <div class="Utility legend-block">Utility</div>
  <div class="Vacant legend-block">Vacant</div>
</div> -->
