#map{
  height:100%;
  box-sizing: border-box;
  background: whitesmoke;
  z-index:1;
  cursor:grab;
}

.map-controls{
  position:absolute;
  float:right;
  top:126px;
  right: 31vw;
  z-index:3;
}
button{
  font-size:14px;
}
#getLasso, #destroyLasso{
  padding:0px;
  width:48px;
  min-width:48px;
  background-color:#ffffff;
  border:none;
  margin-left:1px;
}
#getLasso{
  border-radius:0px;
}
#destroyLasso{
  border-radius: 0% 5% 5% 0%;
}
mat-button-toggle-group{
  border:none;
}
