#map{
  height:85%;
  width:40vw;
  float: left;
  box-sizing: border-box;
  background: whitesmoke;
  z-index:1;
}
button{
  position:relative;
  width:auto;
  height:25px;
  left:-57px;
  top:-35px;
  z-index:2;
}
