<div class="modal-header">
  <h4 class="modal-title">Terra-Mapping</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <div class="container">
        <h1>Address Search</h1>  
        <form (ngSubmit)="onSubmit()" #addressForm="ngForm">
          <div class="form-group">
            <label for="streetNum">Street Number</label>
            <input type="text" class="form-control" id="streetNum" name="streetNum" [(ngModel)]="this.model.streetNum" required #streetNum="ngModel">
            <div [hidden]="streetNum.valid || streetNum.pristine" class="alert alert-danger">Street Number is required</div>
          </div>
          <div class="form-group">
            <label for="streetName">Street Name</label>
            <input type="text" class="form-control" id="streetName" name="streetName" [(ngModel)]="this.model.streetName" #streetName="ngModel" required>
            <div [hidden]="streetName.valid || streetName.pristine" class="alert alert-danger">Street Name is required</div>
          </div>
          <div class="form-group">
            <label for="cityName">City Name</label>
            <input type="text" class="form-control" id="cityName" name="cityName" [(ngModel)]="this.model.cityName">
          </div>
          <div class="form-group">
            <label for="zip">Zip Code</label>
            <input type="text" class="form-control" id="zip" name="zipcode" [(ngModel)]="this.model.zipcode">
          </div>
          <div class="form-group">
            <label for="interest">Area of Interest</label>
            <select class="form-control" required [(ngModel)]="this.model.areaOfInterest" name="areaOfInterest" #areaOfInterest="ngModel">
            <option *ngFor="let area of areas" [value]="area" class="from-control" id="interest">{{area}}</option>
            </select>
            <div [hidden]="areaOfInterest.valid || areaOfInterest.pristine" class="alert alert-danger">Area of Interest is required</div>
          </div>
         <button type="submit" class="btn btn-success" [disabled]="!addressForm.form.valid">Submit</button>    
         <button type="button" class="btn btn-default" (click)="newAddress(); addressForm.reset()">Clear Address</button>
    
        </form>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
